<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino UI Elements</title>
	<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/admin/css/font-awesome.min.css" rel="stylesheet">
	<link href="/admin/css/datepicker3.css" rel="stylesheet">
	<link href="/admin/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<% include admin_header%>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Forms</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Edit product</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				
				
				
				<div class="panel panel-default">
					<div class="panel-heading">Forms</div>
					<div class="panel-body">
						<div class="col-md-6">
                        <% product.forEach(function(item){%>
							<form role="form" action="http://localhost:3333/admin/edit_product&<%=item._id%>" method="POST" enctype="multipart/form-data">
								<div class="form-group">
									<label>Product Name</label>
									<input class="form-control" name="prodname" value="<%=item.prodName%>">
                                </div>
                                <div class="form-group">
                                    <label>Image</label><br>
                                    Old Image: 
                                    <img src="/img/product/<%=item.image%>" width="200px"><br><br>
                                    New Image:
                                    <input type="file" name="image">
								</div>
								
								<div class="form-group">
                                    <label>Category</label><br>
                                    <select class="form-control" name="category">
										<option value="-">--Category--</option>
										<%category.forEach(function(item){%>
											<option value="<%=item.catName%>"><%=item.catName%></option>
										<%})%>
									</select>
								</div>
								
                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control" name="descript" value="<%=item.description%>">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" name="price" value="<%=item.price%>">
                                </div>
                                <input type="submit" class="btn btn-primary height-auto btn-sm" value="Edit product">
                            </form>
						<%})%>
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!-- /.col-->
			<div class="col-sm-12">
				<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
			</div>
		</div><!-- /.row -->
	</div><!--/.main-->
	
<script src="/admin/js/jquery-1.11.1.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/chart.min.js"></script>
	<script src="/admin/js/chart-data.js"></script>
	<script src="/admin/js/easypiechart.js"></script>
	<script src="/admin/js/easypiechart-data.js"></script>
	<script src="/admin/js/bootstrap-datepicker.js"></script>
	<script src="/admin/js/custom.js"></script>
	
</body>
</html>
