<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino UI Elements</title>
	<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/admin/css/font-awesome.min.css" rel="stylesheet">
	<link href="/admin/css/datepicker3.css" rel="stylesheet">
	<link href="/admin/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<% include admin_header%>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Product</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Product</h1>
			</div>
		</div><!--/.row-->
				<div class="panel panel-default">
					<div class="panel-heading">List</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" style="width: 1000px">
                                <a href="http://localhost:3333/admin/add_product" class="btn btn-primary height-auto btn-sm">Add product</a><br/><br/>
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Product name</th>
										<th>Image</th>
										<th>Category</th>
										<th>Description</th>
                                        <th>Price</th>
                                        <th>Option</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% product.forEach(function(item){%>
                                            <tr>
                                                <td><%=item.prodName%></td>
												<td><img src="/img/product/<%=item.image%>" width="80px"></td>
												<td><%=item.category%></td>
                                                <td><%=item.description%></td>
                                                <td><%=item.price%></td>
                                                <td>
                                                    <a href="http://localhost:3333/admin/edit_product&<%=item._id%>"><em class="fa fa-edit"></em> Edit</a>&emsp;
                                                    <a href="http://localhost:3333/admin/delete_product&<%=item._id%>"><em class="fa fa-remove"></em> Remove</a>
                                                </td>
                                            </tr>
                                        <%})%>
                                        
                                    </tbody>
                                  </table>
							</form>
							<%var page=0;
							while(1){
								page++;%>
								&nbsp;&nbsp;&nbsp;<a href="http://localhost:3333/admin/products?page=<%=page%>"><%=page%></a>
								<%if(page==maxpage){
									break;
								}%>
							<%}%>
							
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!-- /.col-->
			<div class="col-sm-12">
				<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
			</div>
		</div><!-- /.row -->
	</div><!--/.main-->
	
<script src="/admin/js/jquery-1.11.1.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/chart.min.js"></script>
	<script src="/admin/js/chart-data.js"></script>
	<script src="/admin/js/easypiechart.js"></script>
	<script src="/admin/js/easypiechart-data.js"></script>
	<script src="/admin/js/bootstrap-datepicker.js"></script>
	<script src="/admin/js/custom.js"></script>
	
</body>
</html>
